﻿@model MVCBlog.ViewModel.AddCommentViewModel

@{
    ViewBag.Title = "CommentConfirmation";
}

<h2>CommentConfirmation</h2>

<div>
    <h4> Thank You!</h4>
    <h4> Your comment successfully submited</h4>

</div>
<p>
 
    @*@Html.ActionLink("Back to List", "Home/Index")*@
    <br />
    <br />

   <h4><a href="/Home/Index"> Click to continue</a></h4>
</p>
