﻿@using MVCBlog.Helpers
@model IEnumerable<MVCBlog.Models.Post>
@using MVCBlog.Models


@{
    ViewBag.Title = "Posts List";
}

<h2>Posts</h2>

@if (User.Identity.IsAuthenticated)
{

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFullName)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           
            <td>
                @Html.StripHtml(item.Content,50)
            </td>
            <td>
                @item.CreatedOn.ToShortDateString()
            </td>
            <td>
                @item.UpdateOn.ToShortDateString()
            </td>
            <td>
                @if (item.PostedOn.HasValue)
                {
                    @item.PostedOn.Value.ToShortDateString()
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFullName)
            </td>
            <td>

                @if (User.IsInRole(RoleName.CanManage))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @("|")
                    @Html.ActionLink("Details", "Details", new { id = item.Id })@("|")
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
                @if (!(User.Identity.IsAuthenticated) && !(User.IsInRole(RoleName.CanManage)))
                {@Html.ActionLink("Details", "Details", new { id = item.Id })}
            </td>
        </tr>
    }

</table>


