﻿@using MVCBlog.Models
@model IEnumerable<MVCBlog.Models.Post>
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        @foreach(var post in Model)
            {
            @Html.Partial("_PostOnly",post)
            }

    </div>
</div>