﻿@using MVCStudentRegistration.Helpers
@*@model IEnumerable<MVCStudentRegistration.Models.Student>*@
@model PagedList.IPagedList<MVCStudentRegistration.Models.Student>

@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="grid">
    @*@Html.Partial("Index", Model)*@
</div>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EnrollementDate)*@
            Enrollment
          </th>
        <th>
            @*@Html.DisplayNameFor(model => model.photo)*@
            Photo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollementDate)
            </td>
            <td>
                @Html.GetThumbnail(item.photo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@*@Html.PagedListPager(
    Model,
    Page => Url.Action("Index", new {page = page}),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod="GET",UpdateTargetId="grid"})
    )*@
