﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Autentication.aspx.cs" Inherits="ASPNETSessionApplication.Autentication" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    User:<asp:TextBox ID="txtUser" runat="server"></asp:TextBox>
    Password :<asp:TextBox ID="txtPassword" runat="server" TextMode="Password"></asp:TextBox>
    <asp:Button ID="btnSubmit" runat="server" Text="Login" OnClick="btnSubmit_Click" />


</asp:Content>
