﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="FirstPageAuth.aspx.cs" Inherits="ASPNETSessionApplication.FirstPageAuth" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <p>
        <asp:Label ID="lblWelcome" runat="server"></asp:Label>
        <br />
    </p>
</asp:Content>
