﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViewCounts.aspx.cs" Inherits="ASPNETSessionApplication.ViewCounts" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="lblViewCount" runat="server" ></asp:Label>
        </div>
    </form>
</body>
</html>
