﻿
@using PagedList
@using PagedList.Mvc
@using InventoryExam.Helpers
@model PagedList.IPagedList<InventoryExam.Models.HomeItem>

@using PagedList
@using PagedList.Mvc


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-3">
        @using (Ajax.BeginForm("Index", "HomeItems", new AjaxOptions()
        {
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "grid"
        }))
        {
            <div class="input-group addon">
                <input class="form-control" placeholder="student name" name="searchString" type="text" value="@ViewBag.CurrentFilter" />
                <button class="btn btn-default" type="submit">Search</button>
            </div>
        }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Location)*@
        </th>
        <th>
                @*@Html.DisplayNameFor(model => model.PurchaseInfo)*@
            </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Model)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SerialNumber)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PurchaseInfo)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Description)*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Photo)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.PurchaseInfo.Where)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.Partial("_DetailsPurchase", item.PurchaseInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Photo != null)
                {
                    @Html.GetThumbnail(item.Photo)
                }
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.HomeItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HomeItemId })
            </td>
        </tr>
    }

</table>
<div id="grid">
    @Html.Partial("_searchList", Model)

</div>
@Html.PagedListPager(
  Model,
  Page => Url.Action("Index", new { page = Page }),
  PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "grid" })
  )


@*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@