﻿@model MVCInventory.Models.PerchaseInfo

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.When)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.When)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Where)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Where)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Waranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Waranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
