﻿@using ASPCalculator.Models
@model ASPCalculator.Models.Calculator




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Calculator</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.operand1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.operand1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.operand1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.operand2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.operand2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.operand2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Operator, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Operator",
            EnumHelper.GetSelectList(typeof(Operator)), "Select an operator", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Operator, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

    @if (Model != null && Model.result.HasValue)
    {

       <div> The result of the operation is: @Model.result.Value </div>   
    }

</div>
}

