﻿@model MVCConversion.Models.Conversion
@using MVCConversion.Models;


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Conversion</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.temp5, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("temp1",
            EnumHelper.GetSelectList(typeof(TempratureUnit)),
                "Select an Temprature unit",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.temp1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.temp2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("temp2",
            EnumHelper.GetSelectList(typeof(TempratureUnit)),
                "Select an unit",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.temp2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tempInput, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tempInput, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tempInput, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>

    @if (Model != null && !string.IsNullOrEmpty(Model.result))
    {
        <div>@Model.result</div>
    }
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
