﻿@model MVCBlog.ViewModel.AddCommentViewModel

@using (Html.BeginForm("Add","Comments",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Add a Comment </h2>
        <hr />
      
        <div class="form-group">
           @Html.HiddenFor(m=>m.PostId)
            @Html.TextAreaFor(m=>m.Content,new {style="min-width:100%"})
            
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
           
        </div>

           <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

