﻿@using MVCVideoRental.Models
@model MVCVideoRental.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberAvailable)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole(RoleName.CanManage))
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @("|")
    }
    @Html.ActionLink("Back to List", "Index")
</p>
